@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    /* --background:#1B2727 ;
    --text:#6B8E4E;
    --textdark:#6e8c53;
    --wheat:#2e3d37; */

    --background:var(--white) ;
    --text:var(--black);
    --textdark:#ffffff;
    --wheat:#0088FF;
/* /*  */
    --darker:#9e9e9e66;
    --white:#ffffff;
    --black:#000000;
    --grey:#9e9e9e66; 

    
    /* --darker:#EFE5DC;
    --white:#D0B8AC;
    --black:#FBFEFB;
    --grey:#F3D8C7; */
}

#particles-js{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    pointer-events: none;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

/* *{
    outline: 2px solid salmon;
} */

html{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

body{
    cursor: url('circle.svg'),auto;
    overflow: hidden;
    margin: 0;
    background-color: var(--background);
    color:var(--text);
    /* background-color: var(--black); */
    padding: 0;
    font-family: 'Poppins';
}

main{
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-snap-type: y proximity;
    -webkit-overflow-scrolling: touch;
}
  
main::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
  
.section {
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--white);
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 12rem;
    scroll-snap-align:start;
    transition: all 500ms;
}

/* .section-1 {
    background-color: #d1c4e9;
}
  
.section-2 {
    background-color: #c8e6c9;
}
  
.section-3 {
    background-color: #b3e5fc;
}
  
.section-4 {
    background-color: #f0f4c3;
}
  
.section-5 {
    background-color: #ffccbc;
} */
  
.wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

p{
    color: var(--text);
    font-size: 0.3em;
    margin: 0;
}

.section-1{
    display: flex;
    width: 80%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10rem;
    /* margin-left: 5rem; */
    transition: transform 500ms ease-in-out;
}

#button{
    background-color: var(--wheat);
    color:var(--textdark);
    font-size: 2rem;
    padding: 0.8rem 2rem;
    font-weight: 600;
    border-radius: 1.2rem;
    margin: 0;
}
svg{
    width: 2rem;
    /* stroke: var(--black); */
}
ellipse,path,line{
    fill:var(--black);
}
svg{
    width: 5rem;
    height: 5rem;
    padding-right: 0.5rem;
    /* background-color: #0088FF; */
    border-radius: 50%;
    margin-right: -1rem;
    margin-left: 0;
    /* fill:rgb(255, 255, 255); */
    /* padding: 1rem;
    width: 2rem;
    background-color: blue;
    border-radius: 50%; */
}
.links{
    margin-top: 1rem;
    display: flex;
    gap:1rem;
    margin-left: -0.8rem;
}
/* svg{
  display:block;
  margin-top: 30%;
  margin-left:33%;
  transform: scale(0.7);
  z-index: 3;
} */

/* .newline{
    display: none;
} */
.hometext{
    font-size: 0.4em;
}

.section-2{
    margin-inline: 5rem;
    font-size: 0.5em;
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
    /* margin-left: 10rem; */
    transition: transform 500ms ease-in-out;
}

.abtitle{
    font-size: 10em;
    font-weight: 600;
}
.section-2 .abtitle{
    width: 80%;
}
.abtext{
    font-size: 0.35em;
    font-weight: 400;
}

.abtext .newline{
    display: none;
}

.ulsk{
    display:flex;
    list-style: none;
    gap:1rem;
    width: 80%;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
}

.lisk{
    background-color: var(--black);
    color:var(--white);
    text-align: center;
    width: 5rem;
    font-size: 2em;
    border-radius: 0.8rem;
    padding: 0.8rem 2rem;
}

u{
    font-weight: 500;
}

.section-3{
    margin-inline: 5rem;
    width: 90%;
    font-size: 2em;
    /* margin-block: 2rem; */
    display: flex;
    flex-direction: column;
    height: 110vh;
    /* width: 90%; */
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.section-3 .abtitle{
    /* margin: 2rem; */
    margin-bottom: 1rem;
    font-size: 2.2em;
    /* margin-top: 3rem; */
}

.title{
    margin: -1.5rem;
    margin-left: 2rem;    
}

.name{
    font-size: 1em;
}

.yr{
    font-size: 0.5em;
    font-weight: 600;
}

.textcon{
    font-size: 0.5em;
    margin-top: 0.5rem;
    /* height: 5rem; */
    overflow-y: hidden;
}
.flex{
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 0.5rem;
}
.im{
    width: 2rem;
    height: 2rem;
}

.lang{
    margin: -1rem;
    margin-right: 1rem;
}
.ullang{
    display: flex;
    gap:1rem;
    list-style: none;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    margin-inline-start: -2rem;
    justify-content: flex-start;
}
#more{
    display: none;
}
.ullang li{
    position: relative;
    display: inline-grid;
    font-size: 0.4em;
    background-color: var(--black);
    text-align: center;
    width:4rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    /* clip-path: polygon(16% 12%, 78% 13%, 90% 17%, 96% 26%, 93% 83%, 86% 89%, 73% 92%, 13% 90%, 5% 86%, 3% 78%, 4% 26%, 9% 19%); */

    color:var(--white);
    transition: all 0.5s ease-in-out;
}
.ullang li::before{
    position: absolute;
    content: '70';
    text-align: center;
    font-size: 0em;
    transition: all 0.5s ease-in-out;
    height: 100%;
    width: 0%;
    border-radius: 0.5rem;
    background-color: #0088FF;
}
/* .ullang li:hover::before{
    font-size: 1.7em;
    width: 100%;
} */
.ullang li:hover{
    transition: all 0.5s ease-in-out;
    /* content: 'nice'; */
    /* padding-right: 3rem; */
}
/* li:nth-child(1)::after{
    position: absolute;
    content: '';
    inset: 0;
    /* background-color: red; */
    /* z-index: -2; */ 
    /* display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
    /* transform: translate(-20%,-80%); */
    /* font-size: larger; */
    /* width: inherit;
    background-color: white;
    height: inherit; */

/* li:hover:nth-child(1)::after{
    color:red;
    transform: scale(1.1);
} */
::selection {
    color: var(--white);
    background-color: var(--black);
  }
.testimonial-grid{
    margin: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "one one two two"
        "three four four five";
    /* grid-template-columns: 1fr 1fr 3fr; */
    margin-bottom: 5rem;
    height: auto;
    align-content: space-between;
    justify-items: center;
    justify-content: space-around;
    align-items: start;
}
.testimonial{
    background-color: var(--grey);
    backdrop-filter: blur(2px);
    z-index: 100;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 1rem;
}
.testimonial:nth-child(1) {
    grid-area: one;
}
.testimonial:nth-child(2) {
    grid-area: two;
}
.testimonial:nth-child(3) {
    grid-area: three;
}
.testimonial:nth-child(4) {
    width: auto;
    grid-area: four;
}
.testimonial:nth-child(5) {
    grid-area: five;
}
.section-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
}
.section-4 .block{
    font-size: 2rem;
    /* width: 25rem;     */
    padding-block: 20rem;
    filter: hue-rotate(130deg);
    background-color: red;
    /* height: 100vh; */
    transition: 0.2s all ease-in-out;
    /* margin: auto; */
    text-align: center;
    color: darkblue;
}
.block:hover{
    filter: hue-rotate(0deg);
    padding-inline: 12rem;
}
.form{
  display: flex;
  flex-direction: column;
}
.form p{
    font-size: 0.1em;
    font-weight: 600;
}
.section-5{
    background-color:var(--white);
    /* margin-left: 5rem; */
}
input{
    margin: 0.2rem;
    outline:none;
    border:none;
    font-family: 'Poppins';
    height:3rem;
    padding:1rem;
    border-radius: 5px;
    background-color:var(--darker);
    color:var(--white);
    font-size: 1rem;
    transition:all 0.5s ease;
    width:25rem;
}
input:hover,textarea:hover{
    filter: brightness(90%);
  }
  .file{
    width: 4rem;
    margin-left: 0.5rem;
  }
  input::placeholder{
    color:var(--white);
    font-size: 1em;
  }
  input[type="submit"]{
    cursor: pointer;
    color:var(--white);
    font-family: 'Poppins';
    padding-bottom: 2.5rem;
    text-align: center;
    background-color:var(--black);
    /* font-weight: bold; */
}
textarea{
    margin: 0.2rem;
    font-family: 'Poppins';
    outline:none;
    border:none;
    padding-block-start:1.5rem;
    padding-block-end:8rem;
    background-color:var(--darker);
    color:var(--white);
    font-size: 0.08em;
    transition:all 0.5s ease;
    width:25rem;
    padding:1rem;
    border-radius: 5px;
    height: 8rem; 
    resize: none;
    margin-block-end: 1rem;
  }
  #placeholder{
    padding-inline:0.3rem;
  }
  .form .abtitle{
    /* position: absolute;
    display: block; */
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 700;
    /* text-transform: uppercase; */
    z-index: 99;
    /* margin-top:-10rem; */
  }
  .nav,.active{
    background-color: var(--black);
    height: 100vh;
    z-index: 50;
    width: 40%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    flex-wrap: nowrap;
    /* margin-top: 5em; */
    transform: translateX(-100%);
    transition: transform 500ms;
}
.nav,.nav-menu{
    cursor: url('circle2.svg'),auto;
}
.invert path{
    filter: invert(100%);
    transition: all 500ms;
}
/* .nav:hover{
    transform: perspective( 800px ) rotateY( 45deg );
} */
.nav-view{
    transform: translateX(0);
}
.body-bg{
    background-color: var(--black);
}
.active-sec{
    position:relative;
    border-radius: 2rem;
    transform: translateX(40%);
    z-index: 4;
    padding-left: 5rem;
    background-color: var(--white);
    margin-left: 5rem;
    /* padding-right: -10rem; */
    width: 90%;
    /* margin-top: 20%; */
}
/* .sec{

} */
/* .nav:hover ~ .section-1{
    background-color:red;
    border-radius: 1rem;
    transform: translateX(40%);
    z-index: 4;
    position:relative;
    padding-left: 5rem;
    margin-top: 20%;
}    */

/* .nav:hover ~ #particles-js{
    opacity: 0;
} */
.shift{
    margin-left: 50%;
}
.nav-list{
    appearance: none;
    margin: auto;
    color:var(--white);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    flex-wrap: nowrap;
    align-content: space-between;
    font-size: 4rem;
    /* margin-top: 10%; */
}
ul{
    height: auto;
    margin-left:-5rem;
    position: relative;
}
.nav-ul li{
    list-style: none;
    position: relative;
    /* background-color: #0088FF; */
    list-style-type:none;
    overflow: hidden;
    opacity: 0.8;
}
.nav-ul li:hover{
    transition: all 0.5s ease-in-out;
    opacity: 1;
    color:var(--white);
}
.nav-ul li::before{
    transition: all 500ms ease-in-out;
    margin-top: 5rem;
    position: absolute;
    content: '';
    width: 0%;
    height: 5px;
}
.nav-ul li:hover::before{
    background-color: var(--white);
    width: 100%;
}
.nav-menu svg{
    width: 3rem;
    height: 3rem;
    transition: all 0.5s ease-in-out;
    /* transform: rotate(0deg); */
}
.nav-ul span{
    /* border-bottom: 2px solid blue; */
    width:25%;
}
.nav-menu svg rect{
    /* fill:var(--white); */
}
.white{
    /* fill:var(--white) */
}
.disable-scroll{
    overflow: hidden;
}
.rotate-nav{
    transition: all 0.5s ease-in-out;
    transform: rotate(180deg);
}
.nav-menu{
    /* background-color: red; */
    position: fixed;
    z-index: 100;
    margin: 2rem;
}
.br-name{
    display: none;
}
.ullang svg{
    width:  1.5rem;
    height: 1.5rem;
    margin: auto;
    padding-left:0.3rem;
    margin-block: -0.2rem;
}
@media screen and (orientation: portrait)  {
    .section-1{
        margin-left: -5rem;
    }
    svg{
        width: 9rem;
        height: 9rem;
    }
    .hometext{
        font-size: 2.5rem;
    }
    .br-name{
        display: block;
    }
    .hometext .newline{
        display: none;
    }
    .hometitle b{
        margin-left: -0.2rem;
        font-size: 7rem;
        position: relative;
        display: block;
        margin-top: -1.5rem;
        margin-bottom: -5.5rem;
        /* background-color: #0088FF; */
    }
    .hometitle{
        font-size: 3rem;
    }
    .links{
        margin-top: 2rem;
    }
    .abtitle{
        font-size: 8rem;
    }
    .abtext{
        font-size: 2.5rem;
    }
    .ulsk{
        margin-top: 6rem;
    }
    .lisk{
        font-size: 2.5rem;
        width: 8rem;
    }
    .testimonial-grid{
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four"
        "five";
    }
    .name{
        font-size: 4rem;
    }
    .yr{
        font-size: 2rem;
    }
    .im{
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
    }
    .ullang svg{
        width:  4rem;
        height: 4rem;
        margin: auto;
        padding-left:0.3rem;
        margin-block: -0.2rem;
    }
    .testimonial{
        margin-inline: 0rem;
        padding-inline: 5rem;
        border-radius: 1.4rem;
    }
    .testimonial-grid{
        width: 90vw;
        gap:4rem;
    }
    .textcon{
        font-size: 2.5rem;
    }
    .ullang{
        margin-block: 4rem;
        flex-wrap: wrap;
        /* justify-content: center; */
    }
    .ullang li{
        font-size: 2.5rem;
        border-radius: 0.8rem;
        width: 8rem;
    }
    .section-3 .abtitle{
        margin: 8rem;
        margin-bottom: 4rem;
    }
    #particles-js{
        transform: scale(2);
        opacity: 0.5;
    }
    .section-3{
        height: 200vh;
    }
    .testimonial-grid{
        height: auto;
        padding-top: 2em;
        /* margin-top: 10rem; */
    }
    .form p{
        font-size: 3rem;
        margin-block: 1rem;
    }
    .form .abtitle{
        font-size: 6rem;
    }
    input{
        width:50rem;
        border-radius: 1rem;
        height: 8rem;
        font-family: 'Poppins';
        font-size: 2rem;
        padding: 1rem;
        padding-inline-start: 2rem;
    }
    textarea{
        border-radius: 1rem;
        font-size: 2rem;
        width: 50rem;
        height: 20rem;
        margin-bottom: 3rem;
        padding-inline-start: 2rem;
    }
    input[type="submit"]{
        padding-inline-start: 0rem;
        padding-bottom: 1rem;
    }
    .file{
        margin-left: 0.8rem;
        width:7.1rem;
    }
    .nav-menu svg{
        width: 5rem;
        height: 5rem;
        margin: 2rem;
    }
    .active-sec{
        transform: translateX(60%);
    }
    .nav-ul{
        margin-left:2rem;
    }
    .nav-ul li{
        margin-block: 2rem;
    }
    .section-3{
        width: auto;
    }
    #project-title{
        font-size: 8rem;
        padding-top: 0.5em;
        /* padding-bottom: 5rem; */
    }
}